* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
} 

    body {
        font-size: 100%;
        background-color: #ebebeb;
}

.cabecalho{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: space-around;
    max-width: 100%;
    position: absolute;
    width: 1540px;
    height: 30px;
    left: 0px;
    top: 0px;

}

.linha {

    position: absolute;
width: 1600px;
height: 20px;
left: 0px;
top: 0px;

background: #2D4215;


}



 .painel {

    position: absolute;
    width: 1600px;
    height: 807px;
    left: 0px;
    top: 188px;

 }

 .cafezin {

    display: flex;
    gap: 32px;
    position: absolute;
    width: 80px;
    height: 88px;
    left: 60px;
    top: 40px;

 }

.login {

    display: flex;
    position: absolute;
    width: 207px;
    height: 57px;
    left: 1133px;
    top: 81px;

}
 
.logo {

    position: absolute;
    width: 270px;
    height: 112px;
    left: 144px;
    top: 46px;
    
    font-family: 'Lusitana';
    font-style: normal;
    font-weight: 400;
    font-size: 43px;
    line-height: 56px;
    
    color: #B5660B;

}


.search-txt {

    position: absolute;
    width: 480px;
    height: 54px;
    left: 564px;
    top: 81px;
    
    background: #D9D9D9;
    padding: 10px;
    height: 50px;

    justify-content: space-between;
    align-items: center;

    


}

.fim {}

.lupinha {

    position: absolute;
    width: 36px;
    height: 36px;
    left: 961px;
    top: 92px;
    
}

.fim {


position: absolute;
width: 1600px;
height: 330px;
left: 0px;
top: 834px;

background: rgba(46, 60, 30, 0.78); }


.titulo {

    position: absolute;
    width: 585px;
    height: 114px;
    left: 428px;
    top: 188px;
}

.latte {

    position: absolute;
    width: 309px;
    height: 328px;
    left: 77px;
    top: 382px;

}

.descrisãolatte {

    position: absolute;
    width: 303px;
    height: 324px;
    left: 406px;
    top: 389px;
    
}

.expresso {

    position: absolute;
    width: 309px;
    height: 320px;
    left: 729px;
    top: 382px;

}

.descriçãoexpresso {

    position: absolute;
    width: 303px;
    height: 324px;
    left: 1067px;
    top: 389px;

}

.setadireita {

    position: absolute;
width: 60px;
height: 88px;
left: 1440px;
top: 468px;


}

.setaesquerda {

    position: absolute;
    width: 45px;
    height: 88px;
    left: 8px;
    top: 468px;

}




